/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/* ==== MODULAR STYLES === */
#three,
#two,
#one {
  color: white;
}
#three {
  background-color: purple;
}
#two {
  background-color: green;
}
#one {
  background-color: red;
}


/* ==== LAYOUT STYLES ==== */
#content {
  display: flex; /* creates container */
  flex-wrap: wrap;
}

#three,
#two,
#one {
  height: 25vmin; /*resizes with the width resizing */
  width: 100%; /*dynamic resizing of width of boxes */
  /*
  Changed the boxes so they lay in one column in mobile.
  Setting the height this way helps resize the height of the
  sections as the widthn is changed via the size of the viewport.
  Finishes part 2 of pp-03.
  */
}

#three {
  order: 3; /* displayed third */
}

#two {
  order: 2; /* displayed second */
}

#one {
  order: 1; /* displayed first */
}

@media screen and (min-width: 600px) {
  #content {
    flex-wrap: wrap;
  }

  #one,
  #two {
    flex: 1 auto;
    width: 50%;
    height: 25vw;
  }

  #three {
    width: 100%;
    height: 25vw;
  }
  /*
    Set the #content container to wrap. Set #one and #two to share
     a row while #three comes under them in the display.
     This finishes part 3 of pp-03.
  */
}

@media screen and (min-width: 800px) {
  #content {
    flex-wrap: nowrap;
  }

  #one,
  #two,
  #three {
    flex: 1 auto;
    width: 33.333%;
    height: 33vw;
  }
  /*
    Took out row wrapping from 600px break. Similar to part 2
    of pp-03 but now at 800px break. Finishes part 4 of pp-03.
  */
}
